@import 'tailwindcss';

@source "./src/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --font-pretendard: var(--font-pretendard);

  /* 색상 (기존 palette 모두 반영) */
  --color-hanagold: #ad9a5f;
  --color-hanasilver: #b5b5b5;
  --color-hanablack: #000000;
  --color-white: #ffffff;
  --color-background: #f6f7f9;

  /* Text colors */
  --color-text-primary: #495455;
  --color-text-secondary: #979799;
  --color-text-placeholder: #b8b8b8;
  --color-text-accent: #333b3b;

  /* Button colors */
  --color-button-default-bg: #f2f4f6;
  --color-button-default-text: #d9d9d9;

  /* Label colors */
  --color-label1: #43bd9f;
  --color-label2: #3e9eca;
  --color-label3: #6979f1;
  --color-label4: #e780cd;
  --color-label5: #ff9562;
  --color-label6: #f4c143;
  --color-label7: #3f98fd;
  --color-label8: #a17ef9;

  /* Foundation - Hana Green */
  --color-hanagreen-light: #e6f3f3;
  --color-hanagreen-light-hover: #d9eded;
  --color-hanagreen-light-active: #b0d9d9;
  --color-hanagreen-normal: #008485;
  --color-hanagreen-normal-hover: #007778;
  --color-hanagreen-normal-active: #006a6a;
  --color-hanagreen-dark: #006364;
  --color-hanagreen-dark-hover: #004f50;
  --color-hanagreen-dark-active: #003b3c;
  --color-hanagreen-darker: #002e2f;

  /* Foundation - Hana Red */
  --color-hanared-light: #fde6ef;
  --color-hanared-light-hover: #fcd9e7;
  --color-hanared-light-active: #f8b0ce;
  --color-hanared-normal: #e90061;
  --color-hanared-normal-hover: #d20057;
  --color-hanared-normal-active: #ba004e;
  --color-hanared-dark: #af0049;
  --color-hanared-dark-hover: #8c003a;
  --color-hanared-dark-active: #69002c;
  --color-hanared-darker: #520022;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}
